
@mixin transition($val) {
    -webkit-transition: $val;
    transition: $val;
}

@mixin transform($val) {
    -webkit-transform: $val;
    transform: $val;
}

@mixin box-shadow() {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.032);
}