
@import '../styles/colors';
@import '../styles/utils';

.container {
    display: flex;
    justify-content: center;

    margin-top: 80px;

    ul {
        $outer-margin: 20px;
        $li-width: 325px;
        $li-margin: 25px;

        $max-row-len: 8;

        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;


        @function calc-width($amt) {
            @return (($li-margin * 2) * $amt) + ($li-width * $amt);
        }

        @for $i from 1 through $max-row-len {
            $_width: calc-width($i);
            
            @media screen and (
                min-width: ($outer-margin + $_width)
            ) and (
                max-width: ($outer-margin + calc-width($i + 1))
            ) {
                max-width: $_width;
            }
        }

        li {
            display: flex;
            flex: none;
            flex-direction: column;
            align-items: center;
            background-color: $text-main;
            height: auto;
            margin: $li-margin;

            width: $li-width;
            border-radius: 10px;

            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.032);

            .icon {
                width: 30%;
                height: $li-width * 0.3;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            span {
                margin-top: 0;
            }

            label {
                position: relative;
                
                input {
                    position: absolute;
                    display: inline-block;
                    width: 0;
                    height: 0;
                    opacity: 0;
                }
                
                span {
                    $slider-width: 60px;
                    $slider-height: 20px;

                    cursor: pointer;
                    display: inline-block;
                    width: $slider-width;
                    height: $slider-height;
                    border-radius: $slider-width / 2;
                    background-color: $success;
                    
                    &:before {
                        display: inline-block;
                        content: "";
                        width: $slider-height;
                        height: $slider-height;
                        background-color: $text-main;

                        border-radius: 50%;

                        @include transition(400ms);
                    }
                }
            }
        }
    }
}