
@import '../styles/colors';
@import '../styles/utils';
@import '../styles/classes';

$transition-time: 300ms;

.container {
    display: flex;
    justify-content: center;

    .device-list {
        $outer-margin: 20px;
        $li-width: 325px;
        $li-margin: 25px;

        $max-row-len: 4;

        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;


        @function calc-width($amt) {
            @return (($li-margin * 2) * $amt) + ($li-width * $amt);
        }

        max-width: calc-width($max-row-len);

        @for $i from 1 through $max-row-len {
            $_width: calc-width($i);
            
            @media screen and (
                min-width: ($outer-margin + $_width)
            ) and (
                max-width: ($outer-margin + calc-width($i + 1))
            ) {
                max-width: $_width !important;
            }
        }

        .device-item {
            display: flex;
            flex: none;
            flex-direction: column;
            align-items: center;
            background-color: $text-main;
            height: auto;
            margin: $li-margin;

            width: $li-width;
            border-radius: 10px;

            padding: 50px 0;
            border-bottom: 3px solid transparent;

            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.032);

            @include transition($transition-time);

            .icon {
                $percentage-width: 0.35;

                width: percentage($percentage-width);
                height: $li-width * ($percentage-width);
                margin-bottom: 0;
                padding-bottom: 0;
            }
            
            span {
                margin: 2px 0;
                font-size: 1.2rem;

                &.title {
                    font-weight: bold;
                    margin-top: 10px;
                }
            }

            label {
                $slider-width: 55px;
                $slider-height: 20px;
                margin: 25px;

                position: relative;
                width: $slider-width;
                height: $slider-height;
                
                input {
                    position: absolute;
                    width: 0;
                    height: 0;
                    opacity: 0;
                }
                
                span {
                    cursor: pointer;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: $slider-width / 2;
                    background-color: $inactive;

                    @include transition($transition-time);
                    
                    &:before {
                        display: inline-block;
                        content: "";
                        width: $slider-height;
                        height: $slider-height;
                        background-color: $text-main;

                        border-radius: 50%;

                        @include transition($transition-time);
                    }
                }

                & input:checked + span {
                    background-color: $success;

                    &:before {
                        @include transform(translateX($slider-width - $slider-height));
                    }
                }
            }

            ul {
                $li-height: 50px;
                $li-margin: 10px;

                display: flex;
                list-style: none;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                li {
                    cursor: pointer;
                    display: flex;
                    width: 80%;
                    height: $li-height;
                    border-radius: $li-height / 2;
                    background-color: $background-black;
                    color: $text-main;
                    margin: $li-margin;
                    position: relative;

                    justify-content: center;
                    align-items: center;

                    @include transition($transition-time);

                    &:hover {
                        box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.12);
                    }

                    &:first-child {
                        background-color: $accent;
                    }

                    & :not(span) {
                        $size: 20px;

                        position: absolute;
                        left: $li-height / 2;
                        width: $size;
                        height: $size;
                        color: $text-main;

                        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
                    }
                }

            }
        }
    }
}