
@import '../styles/colors';
@import '../styles/utils';

.navbar {
    $height: 50px;
    $spacing: 60px;
    $font-size: 1.1rem;
    $transition-time: 400ms;
    $edge-margin: 20px;

    z-index: 5;
    
    top: 0;
    height: $height;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $background-black;
    
    position: sticky;
    
    @media screen and (max-width: 1000px) {
        bottom: 0 !important;
        top: auto !important;
        
        ul {
            width: 100%;

            li {
                padding: 0 !important;

                &.mob-nav-elem {
                    $size: 50px;

                    width: $size;
                    height: $size;
                }
            }
        }

        .mob-nav-elem {
            display: initial !important;
        }

        .fs-nav-elem {
            display: none;
        }
    }

    .mob-nav-elem {
        display: none;
    }
    
    span {
        position: absolute;
        color: $text-main;
        padding: 0 $spacing;
        font-size: $font-size;
    }
    
    ul {
        display: flex;
        flex: auto;
        height: $height;
        list-style: none;
        position: absolute;
        right: 0;
        justify-content: space-evenly;
        
        li {
            cursor: pointer;
            display: flex;
            height: 100%;
            padding: 0 $spacing;
            color: $text-main;
            font-size: $font-size;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            @include transition($transition-time);

            &:hover, &:active, &:focus {
                color: $success;
            
                &:after {
                    opacity: 1;
                    background-color: $success !important;
                }
            }

            &:after {
                content: "";
                opacity: 0;
                position: absolute;
                flex: none;
                bottom: 0;
                width: 30%;
                height: 3px;

                @include transition(opacity $transition-time);
            }
        }
    }
}